@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: #1d212b;
    flex-direction:column;

}

section {
  min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
height: auto;
}
section:nth-child(1){
    color: #fff;

}
section:nth-child(2){
    color: #1d212b;
    background: #fff;
}
section:nth-child(3){
    
    color: #fff;

}
section:nth-child(4){
    color: #1d212b;
    background: #fff;

}
section:nth-child(5){
    
    color: #fff;

}
 section .container{
    margin: 100px;
 }
section h1{
font-size: 60px;
position: absolute;
top:1vh ;
justify-content: center;
height: auto;
text-align: center;
padding-top: auto;
margin-top: calc(5vh - -10%);
padding-bottom: 195%;
margin-top: calc(480px + 0.9vh);
margin-bottom: ;
}
section h2{
font-size: 40px;
text-align: center;
text-transform: uppercase;
}

section .cards{
display: flex;
}

section .cards .text-card {
background: #2696e9;
margin: 20px;
padding: 20px;
}
section .cards .text-card h3{
font-size: 30px;
text-align: center;
text-transform: uppercase;
margin-bottom: 10px;
min-width:  250px; 
}

@media (max-width:900px){


    section .cards{
        flex-direction:column;
    }
}
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1s ease;
}

.reveal.active{
    position: relative;
    transform: translateY(0px);
    opacity: 1;
}

[id="contact section"]{
    height: 125px;
}

.center {
   position:relative;
   justify-content: center;
  max-height: 300px;
  border-radius: 50px;
  margin-bottom: 8px;


    }


body { margin:0px; }
*,
*:before,
*:after{
padding: 0;
margin: 0;
box-sizing: border-box;
}
#navbar {
width: 98%;
height: 9vh;
max-width: 100%;
display: flex;
align-items:center;
justify-content: space-evenly;
margin: auto;
position:fixed;
left: 0;
right: 0;
top: 0;
background-color: #333;
z-index: 999;
border-radius: 100px;
margin-top: 4px;

}

a {
    position: relative;
    text-decoration:none;
    font-family: "Poppins", sans-serif;
    color: #fff;
    font-size: 18px;
    letter-spacing: 0.5px;
    padding: 0 10px;
    z-index: 1000;
}



a:after{
content: "";
position: absolute;
background-color: #ff3c78;
justify-content: center;
align-items: center;
height: 3px;
width: 0%;
left: 0;
bottom: -10px;
transition: 0.3s;
transition-timing-function: ease-in-out;
transform: scaleX(0);
}

a:hover:after
{
    transform: scaleX(1);
    width: 100%;
}

header {

    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 50px;
    font-size: 20px;
}


/**/

  



.content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }


  



